<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DebugMode" value="true"/>
    <!--add key="UseHTTPS" value="false"/-->
    <!--add key="CertificatePath" value=""/-->
    <!--add key="CertificateSecret" value=""/-->
    <!-- <add key="MongoHost" value="mongo://database"/> -->
    <!--add key="MongoDatabase" value=""/-->
    <add key="UploadsDir" value="~/uploads"/>
    <add key="ThumbnailsDir" value="~/uploads/thumbnails"/>
    <add key="ThumbnailSize" value="100"/>
    <add key="Email" value="admin@email.com"/>
    <add key="DisplayName" value="admin"/>
    <add key="Password" value="secret"/>
  </appSettings>
</configuration>
